.root {
    color: var(--secondary-color);

    &.weightNormal {
        font-weight: 400;
    }

    &.weightSemiBold {
        font-weight: 500;
    }

    &.weightBold {
        font-weight: 600;
    }

    &.variantError {
        color: var(--color-error);
    }
}
