.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: var(--primary-color);
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.variant-clear,
.variant-clear-inverted {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.variant-clear-inverted {
    color: var(--primary-color-inverted);
}

.variant-outline {
    padding: 10px 15px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background: none;
}

.variant-background {
    color: var(--primary-color);
    border: none;
    background-color: var(--bg-color);
}

.variant-background-inverted {
    color: var(--primary-color-inverted);
    border: none;
    background-color: var(--bg-color-inverted);
}

.radius-none {
    border-radius: 0;
}

.radius-small {
    border-radius: 5px;
}

.size-small {
    padding: 5px 10px;
    font: var(--font-m);
}

.size-medium {
    padding: 10px 20px;
    font: var(--font-l);
}
