.root {
    position: relative;
    width: var(--sidebar-width-open);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--bg-color-inverted);
    transition: width 0.2s;

    &.open {
        width: var(--sidebar-width-close);
    }
}

.openButton {
    position: absolute;
    right: -28px;
    bottom: 32px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}
