.container {
    display: flex;
}

.placeholder {
    margin-right: 5px;
}

.input {
    flex-grow: 1;

    &.readonly {
        color: var(--secondary-color);
        border: none;
        background: none;
        outline: none;
        cursor: default;
    }
}
