.root {
    padding: 20px;
    border: 1px solid var(--bg-color-inverted);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
